@charset "UTF-8";
:root {
  --black-color: #000;
  --white-color: #fff;
  --base-color: #404040;
  --btn-color: #e05100;
  --base-color-hover: #e05200b1;
  --base-color-active: #fb833d;
  --transition-duration: 0.3s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*чтобы padding работали правильно*/
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; /*inherit-это чтобы box-sizing наследовали от родителя*/
}

body {
  font-size: 12px; /*шрифт по умолчанию*/
  font-family: "Montserrat", sans-serif;
  margin: 0; /*обнуление всех margin по умолчанию, если его размер не указан*/
  color: var(--black-color);
  background-color: var(--white-color);
}

img {
  max-width: 100%; /*чтобы картинка не выходила за пределы экрана*/
}

a {
  text-decoration: none; /*чтобы не было нижнего подчеркивания по умолчанию*/
}

/*--------------Контейнер--------------*/
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*--------------кнопка--------------*/
.default-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  padding: 20px 85px;
  border-radius: 30px;
  background-color: var(--btn-color);
  border: none;
  -webkit-transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer; /*курсор в виде руки*/
}

.default-btn:hover {
  background-color: var(--base-color-hover);
}

.default-btn:active {
  background-color: var(--base-color-active);
}

/*--------------Стилизация подзаголовка--------------*/
.subtitle {
  margin: 0;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/*--------------Стилизация карточки каталога товаров--------------*/
.catalog-card {
  background-color: white;
  border-radius: 30px;
}

.catalog-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 32px 90px 32px;
}

.catalog-card__img {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0; /*чтобы изображение не сжималось*/
  height: 265px;
  -o-object-fit: contain;
     object-fit: contain; /*определяет как содержимое img заполняет контейнер относительно его ширины и высоты*/
}

.catalog-card__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
}

/*--------------header--------------*/
.header {
  background-color: var(--base-color);
  color: var(--white-color);
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
}
.header__wrap_number {
  padding-left: 32px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item_geo {
  width: 34px;
  height: 34px;
}
.header__item_watch {
  width: 22px;
  height: 22px;
  margin: 0px 20px 0px 20px;
}
.header__item_phone {
  width: 15px;
  height: 15px;
  margin: 0px 20px 0px 20px;
}
.header__item_title-1 {
  padding-right: 25px;
  padding-left: 16px;
}
.header__item_title-2 {
  padding-right: 30px;
}

.default-btn__header {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 16px 54px;
  margin-left: 42px;
}

/*--------------menu--------------*/
.menu-wrap {
  background-color: var(--white-color);
  color: var(--black-color);
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
}
.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 68px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px; /*отступы между колонками*/
  list-style: none;
  font-weight: 700;
  padding: 0;
}
.menu__link {
  color: var(--black-color);
  outline: none;
  -webkit-transition: color var(--transition-duration), background-color var(--transition-duration);
  transition: color var(--transition-duration), background-color var(--transition-duration); /*скорость изменения цвета*/
}
.menu__link:hover {
  color: var(--base-color);
}
.menu__link:active {
  color: var(--black-color);
}

.bn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
  min-height: 580px;
}

.bn-picture {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.bn-picture img {
  width: 100%;
  height: 100%;
}

.block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 80px;
}
.block-text__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
  padding-bottom: 20px;
}
.block-text__subtitle {
  margin-top: 20px;
  font-size: 14px;
  color: var(--white-color);
  text-align: center;
  padding-bottom: 50px;
}

/*--------------catalog--------------*/
.catalog__subtitle {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 120px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 62px 30px;
  justify-items: center;
  margin-top: 56px;
}
.catalog__card {
  background-color: var(--white-color);
  border-radius: 30px;
  width: 240px;
  height: 265px;
  -webkit-box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.catalog__card-img {
  padding-top: 62px;
  padding-left: 3px;
}
.catalog__title {
  padding-top: 25px;
  padding-left: 3px;
  font-size: 14px;
  font-weight: 700;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-btn__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.default-btn__catalog_btn {
  margin-top: 70px;
  margin-left: 29px;
  padding: 21px 67px;
}

/*--------------border-gray--------------*/
.border-gray-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 120px;
  min-height: 748px;
  background-color: var(--base-color);
  width: 100%;
}

.border-gray-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 47.3%;
  height: 748px;
  border-radius: 0px 30px 30px 0px;
}
.border-gray-img > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--white-color);
}
.text__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48.5%;
  position: relative;
}
.text__text {
  margin-top: 120px;
  font-size: 35px;
  font-weight: 700;
}
.text__subtitle {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 700;
}
.text__title {
  margin-top: 31px;
  line-height: 15.7px;
}

.default-btn__border-gray {
  margin-top: 30px;
  padding: 22px 73px;
}

/*--------------top-product--------------*/
.top-product__subtitle {
  font-size: 35px;
  font-weight: 700;
  margin-top: 120px;
  text-align: center;
}
.top-product__grid {
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 17px 30px;
}
.top-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.1);
  height: 350px;
  position: relative;
}
.top-product__white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px 0px 0px 30px;
}
.top-product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 330px;
  height: 172px;
  margin-top: 20px;
}
.top-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  padding-left: 12px;
}
.top-product__info_title {
  font-size: 14px;
  font-weight: 700;
  padding-top: 27px;
}
.top-product__info_size {
  padding-top: 11px;
  line-height: 21px;
}
.top-product__grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #404040;
  width: 180px;
  height: 349px;
  border-radius: 0px 30px 30px 0px;
}
.top-product__grey_title {
  padding-top: 11px;
  padding-left: 24px;
  width: 125px;
  height: 255px;
  font-size: 12px;
  color: var(--white-color);
  font-weight: 700;
}

.top-product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8px;
}
.top-product-color__color {
  width: 14.87px;
  height: 16px;
  margin-left: 10px;
}
.top-product-color__color_737373 {
  background-color: #737373;
}
.top-product-color__color_9C0909 {
  background-color: #9c0909;
}
.top-product-color__color_D48D37 {
  background-color: #d48d37;
}
.top-product-color__color_964B00 {
  background-color: #964b00;
}
.top-product-color__color_DC143C {
  background-color: #dc143c;
}
.top-product-color__color_49423D {
  background-color: #49423d;
}
.top-product-color__color_D77D31 {
  background-color: #d77d31;
}
.top-product-color__color_000 {
  background-color: #000;
}

.default-btn__top-product {
  position: absolute;
  width: 69px;
  height: 56px;
  border-radius: 28px 0px 28px 0px;
  bottom: 0;
  right: 0;
  padding: 0;
}

/*--------------production--------------*/
.production {
  background-color: var(--base-color);
  color: var(--white-color);
}
.production__subtitle {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-top: 117px;
}
.production__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.production__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.production__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 231px;
  height: 74px;
  background-color: var(--white-color);
  border-radius: 30px;
  margin-top: 81px;
}
.production__logo > img {
  width: 155px;
  margin-left: 38px;
}
.production__video {
  margin-top: 90px;
  margin-left: 30px;
  width: 66%;
  height: 385px;
}
.production__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production-wrap {
  margin-top: 120px;
  min-height: 766px;
  width: 100%;
}

.production-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.production-list-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 52px;
  margin-left: 2px;
}
.production-list-item1__title {
  font-size: 14px;
  width: 270px;
  padding-left: 31px;
  padding-top: 13px;
}

.production-list-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}
.production-list-item2__brick {
  margin-top: 2px;
}
.production-list-item2__title {
  font-size: 14px;
  width: 270px;
  padding-left: 37px;
}

.production-list-item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.production-list-item3__star {
  margin-left: 6px;
}
.production-list-item3__title {
  font-size: 14px;
  width: 270px;
  padding-left: 32px;
}

/*--------------example--------------*/
.example__subtitle {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-top: 117px;
}
.example__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 80px;
  max-width: 1048px;
}
.example__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1082px;
  margin: 58px -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.example__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  padding: 20px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.example__item-fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.example__item-img {
  width: 100%;
  border-radius: 30px;
}
.example__item-img img {
  width: 100%;
  height: auto;
  display: block;
}

.example-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1280px;
}

@media screen and (max-width: 1024px) {
  .example__item {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .example__item {
    width: 100%;
  }
}
/*--------------pros--------------*/
.pros {
  background-color: var(--base-color);
}
.pros__subtitle {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-top: 120px;
  color: var(--white-color);
}
.pros__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
.pros__item {
  width: 330px;
  height: 323px;
  border-radius: 30px;
  background-color: #fff;
}
.pros__white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 14px;
}
.pros__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 90px;
  margin-left: 120px;
}
.pros__img_img2 {
  margin-top: 5px;
}
.pros__img_img4 {
  margin-top: 1px;
  width: 100px;
  height: 100px;
  margin-left: 114px;
  margin-bottom: -20px;
}
.pros__img_img5 {
  width: 103px;
  height: 103px;
  margin-left: 115px;
  margin-bottom: -22px;
}
.pros__img_img6 {
  width: 97px;
  height: 97px;
  margin-left: 120px;
}
.pros__text1 {
  padding-left: 28px;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 700;
  max-width: 282px;
  line-height: 17px;
}
.pros__text2 {
  padding-left: 28px;
  padding-top: 15px;
  max-width: 300px;
  font-size: 14px;
  line-height: 17px;
}

.pros-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1059px;
  margin-top: 120px;
}

/*--------------footer--------------*/
.footer-wrap {
  background-color: var(--white-color);
  height: 350px;
}
.footer-wrap__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  padding-top: 38px;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 59px 0px 0px 0px;
}
.nav-footer a {
  color: var(--btn-color);
}
.nav-footer__item2 {
  padding-left: 461px;
}
.nav-footer__item3 {
  padding-left: 118px;
}
.nav-footer__item4 {
  padding-left: 118px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  width: 100%;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.footer-left__column1 {
  font-family: "Roboto", sans-serif;
}
.footer-left__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
}
.footer-left__time img {
  padding-right: 21px;
  padding-top: 4px;
}
.footer-left__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
}
.footer-left__number img {
  padding-right: 20px;
  padding-top: 21px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 50%;
  line-height: 17px;
}
.footer-right__column2 {
  padding-left: 16px;
}
.footer-right__column3 {
  padding-left: 86px;
}
.footer-right__column4 {
  padding-left: 96px;
}
