/*--------------menu--------------*/

.menu-wrap {
    background-color: var(--white-color);
    color: var(--black-color);
}
.menu {
    &__row {
        display: flex;
        align-items: center;
        height: 79px;
    }
    &__info {
        display: flex;
        align-items: center;
        padding-left: 68px;
    }
    &__list {
        display: flex;
        gap: 49px; /*отступы между колонками*/
        list-style: none;
        font-weight: 700;
        padding: 0;
    }
    &__link {
        color: var(--black-color);
        outline: none;
        transition: color var(--transition-duration), background-color var(--transition-duration); /*скорость изменения цвета*/
        &:hover {
            color: var(--base-color);
        }
        &:active {
            color: var(--black-color);
        }
    }
}
