.example {
    &__subtitle {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        padding-top: 117px;
    }
    &__title {
        display: flex;
        text-align: center;
        padding-top: 80px;
        max-width: 1048px;
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        max-width: calc(1048px + 34px);
        margin: 58px -15px;
        justify-content: center;
    }
    &__item {
        display: flex;
        width: 33.33%;
        padding: 20px 15px;
        box-sizing: border-box;
    }
    &__item-fon {
        display: flex;
        width: 100%;
    }
    &__item-img {
        width: 100%;
        border-radius: 30px;

        & img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.example-wrap {
    display: flex;
    justify-content: center;
    height: 1280px;
}
@media screen and (max-width: 1024px) {
    .example__item {
        width: 50%;
    }
}
@media screen and (max-width: 760px) {
    .example__item {
        width: 100%;
    }
}
